{% extends 'base.html' %}
{% load static %}
{% block title %}Password Change Done{% endblock title %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/passwordreset.css' %}">
<div style="margin-top: 11%;">
<div class="container my-5 mio" >
 <div class="row">
 
  <div class="col-sm-9 offset-sm-1 text-center">
    <h3>Password Change Successfully !!</h3>
    <div>
        <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" frameborder="0" class="giphy-embed"></iframe>
    </div>
  </div>
 </div>
</div>
</div>
{% endblock %}